{{#if details.traits.is_anonymous_proxy}}
    <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag critical-background critical-border" title="Anonymous Proxy">
        <span class="acronym critical-bold-light">{{block.acronym}}</span> <span style="font-weight:normal; color: #fff">{{fa-icon "user-secret" class="critical-bold-light" fixedWidth=true}} Proxy</span>
    </span>
{{/if}}

{{#if details.traits.is_satellite_provider}}
    <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag critical-background critical-border" title="Satellite Provider">
        <span class="acronym critical-bold-light">{{block.acronym}}</span> <span style="font-weight:normal; color: #fff">{{fa-icon "satellite-dish" classNames="critical-bold-light" fixedWidth=true}} Satellite</span>
    </span>
{{/if}}

{{#if hasGeolocationData}}
    <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
     <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
    <span class="integration-text-color">
        {{~#if details.city~}}
            {{details.city.names.en}}
        {{~/if~}}
        {{~#if (and (gt stateSummary.length 0) block.userOptions.showState)~}}
            {{~#if details.city~}}
                ,
            {{~/if}}
            {{stateSummary}}
        {{~/if}}
        {{countrySummary}}
    </span>
  </span>
{{/if}}

{{#if (and details.registered_country (not countrySummary))}}
  <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
    <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
    <span class="integration-text-color">
      {{details.registered_country.names.en}}
    </span>
  </span>
{{/if}}

{{#if (and details.asn block.userOptions.showAsnTag)}}
    <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
   <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
        <span class="integration-text-color">
            {{#if details.asn.autonomous_system_number}}
                [AS{{details.asn.autonomous_system_number}}]
            {{/if}}
            {{#if details.asn.autonomous_system_organization}}
                AS{{details.asn.autonomous_system_organization}}
            {{/if}}
        </span>
   </span>
{{/if}}

{{#if (and maxmindMergeNetworks (gt block.ipAddresses.length 1))}}
    <span {{on "click" (optional this.scrollToIntegration)}} class="label-notification integration-summary-tag integration-background-color integration-border-color">
   <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
  <span class="integration-text-color">
    {{block.ipAddresses.length}} IPs
  </span>
</span>
{{/if}}



